<!DOCTYPE html>
<html>

  <head>
     <title> Realtime Markdown Viewer </title>
     <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
     <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
     <link href="style.css" rel="stylesheet">
  </head>

  <body class="container-fluid" height="100%">
    <section class="row">
        <div class="col-md-6 col-sm-6 col-xs-6 wordpad">
          <div class="panel panel-body">
            <textarea id="pad" placeholder="Write your text here.." onkeyup="renderNote()"></textarea>
          </div>

        </div>
        <div class="col-md-6 col-sm-6 col-xs-6 wordpad">
          <div class="panel panel-body">
            <div id="markdown"></div>
          </div>
        </div>
    </section>

    <script src="https://cdn.rawgit.com/showdownjs/showdown/1.0.2/dist/showdown.min.js"></script>
    <script src="script.js"></script>
  </body>

</html>
