<!DOCTYPE html>
<html>

  <head>
     <title> Stars </title>
  </head>

  <body style="overflow: hidden; background-color: #111;">
    <canvas></canvas>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/zepto/1.0/zepto.min.js"></script>
    <%# <script src="https://cdnjs.cloudflare.com/ajax/libs/stats.js/r11/Stats.js"></script>%>
    <script src="stars.js"></script>
  </body>

</html>
