body {
    margin: 0;
    background-color: #D4D4D4;
}
input:focus,
textarea:focus {
  outline: none;
}

#pad {
  margin: 0;
  padding: 0;
  overflow: auto;
  width: 100%;
  height: 70vh;
  resize: none;
  border: none;
}

#markdown {
  overflow: auto;
  width: 100%;
  height: 100%;
}

.wordpad {
  padding: 1rem;
}

.panel {
  box-shadow: 3px 5px 7px #888888;
  height: 95vh;
}
